version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: WEATHER_DB
      MYSQL_ROOT_PASSWORD: '040813'
    ports:
      - "3306:3306"

  backend:
    build: ./Backend
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - DB_HOST=db