version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} 
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - ./Database/Database.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  backend:
    build: ./Backend
    ports:
      - "80:5000"
    env_file:
      - .env
    environment:
      - DB_HOST=db
    depends_on:
      - db
