version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: WEATHER_DB
      MYSQL_ROOT_PASSWORD: '040813'
    volumes:
      - ./Database/Database.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  backend:
    build: ./Backend
    ports:
      - "80:5000"
    depends_on:
      - db
    environment:
      - DB_HOST=db